* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(70, 58, 150) 0%,
    rgb(74, 17, 167) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* width: 100%; */
  /* min-height: 500px; */
  background: #14010e;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding: 22px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 10px 40px 10px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(34, 174, 199, 0.678);
  outline: none;
  
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-btn {
  padding: 11px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(32, 126, 126) 0%,
    rgb(48, 57, 68) 100%
  );
 
  text-transform: capitalize;
}
.add-todo {
font-size: 25px;
color: rgb(17, 168, 12);
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: black;
  background: linear-gradient(
    90deg,
    rgb(34, 199, 199) 0%,
    rgb(163, 177, 194) 100%
  );
  
  padding: 16px;
  border-radius: 5px;
  width: 85%;
}



.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(129, 27, 1);
}

.edit-icon {
  color: rgb(5, 104, 18);
}
